body {
    margin: 0;
}

.search {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(55, 55, 183);
}

.input-search {
    height: 40px;
    width: 500px;
    border-radius: 50px;
    border: none;
    padding: 0 20px;
}

.btn {
    margin-left: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: rgb(239, 239, 247);
    color: rgb(55, 55, 183);
    font-size: 20px;
    padding: 0 20px;
}

.btn:hover {
    border: solid 2px;
    background-color: rgb(55, 55, 183);
    border-color: rgb(239, 239, 247);
    color: rgb(239, 239, 247);
}

#panels {
    display: flex;;
}

.panel {
    flex-direction: column;
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    transition: ease 0.09s;
}

.info {
    padding: 10px;
}

.panel:nth-child(1) {
    background-image: url('./images/image1.jpeg');
}

.panel:nth-child(2) {
    background-image: url('./images/image2.jpeg');
}

.panel:nth-child(3) {
    background-image: url('./images/image3.jpeg');
}

.panel:nth-child(4) {
    background-image: url('./images/image4.jpeg');
}

.panel:nth-child(5) {
    background-image: url('./images/image5.jpeg');
}

.primary-panel {
    flex: 2;
}

.primary-panel p:nth-child(2n+1) {
    display: inline;
}

.primary-info {
    background-color: white;
    color: black;
}